nav {
    -webkit-box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.40);
    background: var(--red-01);
    margin: 0;
    height: 6rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 2.5rem;
}

li {
    list-style: none;
}

div > li > button{
    text-align: center; 
    text-decoration: none !important;
    background: none;
    color: white !important;
    padding: 0.5rem 1rem !important;
}

div > li > button:hover{
    background: var(--red-02);
}

a {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}