:root {
  --red-01: #D7232F;
  --red-02: #ad1f28;
  --red-03: #E03A1B;
  --orange-01: #F7A406;
  --orange-02: #E05C1B;
  --orange-03: #ff6550;
  --gray-01: #f0f0f5;
  --gray-02: #e4e4eb;
  --black-01: #2E2E2E;
}

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* background: rgb(127, 3, 127);
  background: linear-gradient(0deg, rgba(127, 3, 127, 1) 0%, rgba(43, 0, 39, 1) 100%); */
  scroll-behavior: smooth;
}

main{
  padding: 1rem 2rem;
  min-height: calc(100vh - 7rem)
}

@media only screen and (max-width: 600px) {
  main {
    padding: 0.5rem 1rem; 
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  main {
    padding: 0.75rem 1.5rem; 
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary{
  color: white !important;
  background: var(--red-01) !important;
}

.secundary{
  color: white !important;
  background: var(--orange-01) !important;
}