:root {
  --purple-01: #7f037f;
  --purple-02: #6a0269;
  --purple-03: #550153;
  --purple-04: #40013d;
  --purple-05: #2b0027;
}

body {
  margin: 0;
  /* background: rgb(127, 3, 127);
  background: linear-gradient(0deg, rgba(127, 3, 127, 1) 0%, rgba(43, 0, 39, 1) 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}